.welcome {
  height: 328px;
  background: url(../assets/image/yay.jpg) no-repeat center 0;
  background-size: 388px 328px;
}

.dashBoard {
  margin-top: 20px;
}

.dashBoard > div > div {
  height: 150px;
  background: #FFFFFF;
  box-shadow: 2px 2px 4px 1px rgba(221, 219, 219, 0.50);
  border-radius: 4px;
  padding: 5px 0;
}

.dashImg-chudan {
  position: absolute;
  top: 36px;
  left: 36px;
  width: 62px;
  height: 62px;
  background: url(../assets/image/shouye_icon.png) 0px 0px no-repeat;
}

.dashImg-xiaoshouliang {
  position: absolute;
  top: 36px;
  left: 36px;
  width: 62px;
  height: 62px;
  background: url(../assets/image/shouye_icon.png) -138px 0px no-repeat;
}

.dashImg-xiaoshoue {
  position: absolute;
  top: 36px;
  left: 36px;
  width: 62px;
  height: 62px;
  background: url(../assets/image/shouye_icon.png) -278px 0px no-repeat;
}

.dashImg-caigoue {
  position: absolute;
  top: 36px;
  left: 36px;
  width: 62px;
  height: 62px;
  background: url(../assets/image/shouye_icon.png) -416px 0px no-repeat;
}

.dashImg-yingkui {
  position: absolute;
  top: 36px;
  left: 36px;
  width: 62px;
  height: 62px;
  background: url(../assets/image/shouye_icon.png) -554px 0px no-repeat;
}

.dashTitle {
  position: absolute;
  top: 32px;
  left: 118px;
  font-family: PingFangHK-Regular;
  font-size: 16px;
  color: #929292;
}

.dashCount {
  position: absolute;
  top: 59px;
  left: 117px;
  font-family: PingFangHK-Regular;
  font-size: 30px;
  color: #676767;
}

.contentBox > div {
  padding: 20px;
  margin-top: 20px;
  background: #fff;
  font-size: 18px;
  color: #545F76;
}

.detailBox > div {
  height: 120px;
  position: relative;
}

.boxImg {
  position: absolute;
  top: 36px;
  left: 60px;
  width: 45px;
  height: 45px;
}

.boxCount {
  font-family: PingFangHK-Regular;
  font-size: 39.41px;
  color: #4A90E2;
  letter-spacing: 1.75px;
  text-align: center;
  position: absolute;
  top: 10px;
  right: 82px;
  width: 60px;
}

.boxText {
  font-family: PingFangHK-Regular;
  font-size: 16.42px;
  color: #9B9B9B;
  letter-spacing: 0.73px;
  text-align: center;
  position: absolute;
  top: 68px;
  right: 72px;
}

.topBox {
  width: 20%;
  display: inline-block;
  position: relative;
}

.boxBottomTip {
  position: absolute;
  right: 36px;
  bottom: 16px;
}

.boxBottomTip > div {
  display: inline-block;
  font-size: 12px;
}

.wan {
  display: inline-block;
  margin-left: 5px;
  vertical-align: top;
}

.down {
  color: #EA7878;
}

.top {
  color: #59C694;
}

.percentage {
}

.toBottom {
  margin: 0 10px;
}

.ring {
  color: #D8D8D8;
}

.barBox {
  margin: 20px;
}


.btnBefore::before {
  display: none !important;
}

.btnBefore::after {
  display: none !important;
}
