.leftPosition {
  position: absolute;
  left: -95px;
  top: 10px;
  text-align: center;
}

.topText {
  font-size: 17px;
}

.bottomText {
  font-size: 14px;
}

.aim > li:first-child > div:nth-child(3) > div:nth-child(2) {
  font-weight: 600;
  color: #545F76;
}

.aim > li:first-child > div:nth-child(3) > div:first-child > div:first-child {
  font-weight: 600;
  color: #545F76;
}
